.horizontal-centering .simple-btn {
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 10px;
}

.feedback {
    width: 20%;
    margin: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.feedback img {
    border: 2px solid black;
    width: 90%;
}

.feedback blockquote {
    margin: 5px;
    font-style: italic;
}

.feedback p {
    font-size: 0.9rem;
    text-align: right;
}