.menu {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space;
    width: 100%;
    min-height: 70px;
    height: 8%;
    background-color: #AAA;
    font-size: 1.3rem;
    font-weight: 900;
    font-family: Jura;
}

.logo {
    display: inline-block;
    height: 100%;
}

.logo img {
    height: 100%;
}

.login-profile-block {
    display: flex;
    justify-content: space;
    position: absolute;
    right: 5px;
}

input {
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 5px;
    margin: 5px;
    font-family: Jura;
}

#reg_block {
    z-index: 10001;
    position: fixed;
    background-color: white;
    text-align: center;
    width: 600px;
    left: calc(50% - 300px);
    top: 30%;
}

.window-around-bg {
    position: fixed;
    display: none;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 1s ease-in-out;
}

.active-bg {
    display: block;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5);
}
