{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Отдельное голосование</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/btn_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vote_app/css/vote_list_style.css' %}">
    <style>
        .main__header{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .main__header h2{
            text-align: left;
            padding-top: 40px;
        }

        .main__header p{
            text-align: right;
            vertical-align: top;
        }

        .main__img{
            width: 646px;
            height: 266px;
            background-color: #E4E3E3;
        }

        .main__img p{
            text-align: center;
            padding-top: 100px;
            color: #717171;
        }

        .main__results{
            background-color: #dddddd;
            width: 1329px;
            height: 326px;
            border: 2px solid gray;
            border-radius: 15px;
        }

        .main__results p{
            padding: 20px 0 0 20px;
            line-height: 15px;
        }

        .footer__results{
            display: flex;
            justify-content: space-between;
        }

        .footer__results button{
            margin-right: 550px;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="main__header">
        <h2>Заголовок голосования</h2>
        <div>
            <p>Автор:<a href="#">никнейм</a></p>
            <p>Редактировать</p>
            <p>Окончание:</p>
        </div>
    </div>
    <div class="main__img">
        <p>Область для картинки</p>
    </div>
    <div>
        <p>Суть вынесенного на голосование вопроса</p>
    </div>
    <div class="main__results">
        <p><strong>Вариант 1</strong> | <span> процент от всех проголосовавших </span>| <span> кол-во голосов </span></p>
        <p><strong>Вариант 2</strong> | <span> процент от всех проголосовавших </span>| <span> кол-во голосов </span></p>
        <p><strong>Вариант N</strong> | <span> процент от всех проголосовавших </span>| <span> кол-во голосов </span></p>
        <div class="footer__results">
        <p>Всего голосов: </p>
        <button class="medium-btn green">Голосовать</button>
        </div>
    </div>
{% endblock %}