{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Отдельное голосование</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/btn_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vote_app/css/vote_one_style.css' %}">
{% endblock %}

{% block main %}
    <div class="block">
        <div class="list-elem">
            <div>
                <h2>{{ title }}</h2>
            </div>
            <div>
                <p>Автор: <a href="{{ author_url }}">{{ author }}</a></p>
                <p>Окончание: {{ end_date }}</p>
                <p>
                    {% if anons %}
                        Открытое голосование
                    {% else %}
                        Обязательная авторизация
                    {% endif %}
                </p>
                <a href="{% url 'vote_edit' voting_id %}" class="medium-btn yellow">Редактировать</a>
            </div>
        </div>
        <div class="list-elem">
            <div class="medium">
                <p>{{ description }}</p>
            </div>
            <img src="{{ image.url }}" class="medium">
        </div>
        <div class="medium-block grey-2">
            <form method="post" action="{% url 'vote_view' voting_id %}">
                {% csrf_token %}
                {% for vote_variant in vote_variants %}
                    <div class="list-elem grey-3">
                        {% if type_ref == 'radio' %}
                            <input type="{{ type_ref }}" name="variants" value="{{ vote_variant.serial_number }}" id="variant_{{ vote_variant.serial_number }}">
                        {% endif %}
                        {% if type_ref == 'checkbox' %}
                            <input type="{{ type_ref }}" name="{{ vote_variant.serial_number }}" value="{{ vote_variant.serial_number }}" id="variant_{{ vote_variant.serial_number }}">
                        {% endif %}
                        <label for="variant_{{ vote_variant.serial_number }}" class="wide">{{ vote_variant.description }}</label>
                        <span>{{ vote_variant.votes_count }} - {{ vote_variant.percent | floatformat }}%</span>
                    </div>
                {% endfor %}
                <div class="horizontal-centering">
                    {% if can_vote %}
                        <button type="submit" class="big-btn green">Голосовать</button>
                    {% else %}
                        <h4>Вы не можете голосовать</h4>
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="medium-block grey-2">
            <h3>Результаты</h3>
            <h4>Всего голосов: {{ votes_count }}</h4>
            <div class="horizontal-centering">
                {% include 'charts/donut_chart.html' %}
            </div>
        </div>
    </div>
{% endblock %}