{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Отдельное голосование</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/btn_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vote_app/css/vote_one_style.css' %}">
{% endblock %}

{% block main %}
    <div class="block">
        <div class="list-elem">
            <div>
                <h2>{{ object.title }}</h2>
            </div>
            <div>
                <p>Автор: <a href="{% url 'profile_view' object.author.id %}">{{ object.author }}</a></p>
                <p>Окончание: {{ object.end_date }}</p>
                {% if is_ended %}
                    <p>Окончено</p>
                {% endif %}
                <p>
                    {{ object.status }}
                </p>
                <p>
                    {% if object.anons_can_vote %}
                        Открытое голосование
                    {% else %}
                        Обязательная авторизация
                    {% endif %}
                </p>
                {% if can_edit %}
                    <a href="{% url 'vote_edit' object.pk %}" class="medium-btn yellow">Редактировать</a>
                {% endif %}
            </div>
        </div>
        <div class="list-elem">
            <div class="medium">
                <p>{{ object.description }}</p>
            </div>
            <img src="{{ object.image.url }}" class="medium">
        </div>
        <div class="medium-block grey-2">
            <form method="post" action="{% url 'vote_view' object.pk %}">
                {% csrf_token %}
                {% for vote_variant in vote_variants %}
                    <div class="list-elem grey-3">
                        {% if type_ref == 'radio' %}
                            <input type="{{ type_ref }}" name="variants" value="{{ vote_variant.serial_number }}" id="variant_{{ vote_variant.serial_number }}">
                        {% endif %}
                        {% if type_ref == 'checkbox' %}
                            <input type="{{ type_ref }}" name="{{ vote_variant.serial_number }}" value="{{ vote_variant.serial_number }}" id="variant_{{ vote_variant.serial_number }}">
                        {% endif %}
                        <label for="variant_{{ vote_variant.serial_number }}" class="wide">{{ vote_variant.description }}</label>
                        <span>{{ vote_variant.votes_count }} - {{ vote_variant.percent | floatformat }}%</span>
                    </div>
                {% endfor %}
                <div class="horizontal-centering">
                    {% if can_vote %}
                        <button type="submit" class="big-btn green">Голосовать</button>
                    {% else %}
                        <h4 class="wide center">Вы не можете голосовать</h4>
                        <h4 class="wide center">{{ reason_cant_vote }}</h4>
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="medium-block grey-2">
            <h3>Результаты</h3>
            {% if can_watch_res %}
                <div class="list-elem grey-3 horizontal-centering">
                    <h4>Всего голосовавших: {{ object.votes_count }}</h4>
                    <h4>Всего голосов: {{ object.voters_count }}</h4>
                </div>
                <div class="horizontal-centering">
                    {% include 'charts/donut_chart.html' %}
                </div>
            {% else %}
                <div class="medium-block horizontal-centering grey-3">
                    <h4 class="wide center">Вам не показываются результаты</h4>
                    <h4 class="wide center">Результаты видны:</h4>
                    <div class="wide list-elem grey-4">
                        <h4>Кому: {{ object.get_result_see_who_name }}</h4>
                        <h4>Когда: {{ object.get_result_see_when_name }}</h4>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}