{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Редактирование голосований</title>
{% endblock %}

{% block main %}
    {% if not user.is_authenticated %}
        <h1>Только авторизованные пользователи могут создавать и редактировать голосования</h1>
    {% else %}
        {% if voting_id == -1 %}
            {% include 'vote_config_form.html' %}
        {% elif can_edit %}
            {% include 'vote_config_form.html' %}
        {% else %}
            <h2>Вы не можете редактировать это голосование</h2>
        {% endif %}
    {% endif %}
{% endblock %}