{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Список голосований</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/btn_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vote_app/css/vote_list_style.css' %}">
{% endblock %}

{% block main %}
    <div class="horizontal-centering">
        {% if user.is_authenticated %}
            <a href="{% url 'vote_create' %}" class="big-btn green">Создать голосование</a>
        {% else %}
            <h4 class="ultra-wide center">Создание голосований доступно только после регистрации</h4>
            <button class="big-btn blue" id="red_btn_on_vote_list">Регистрация</button>
        {% endif %}
    </div>
    <div class="horizontal-centering">
        {% for voting in votings %}
            <section class="medium-block small">
                <h3>{{ voting.title }}</h3>
                {% if voting.get_img_url != '' %}
                    <div class="horizontal-centering">
                        <img src="{{ voting.get_img_url }}" alt="Картинка голосования номер {{ voting.id }}" class="card-img">
                    </div>
                {% endif %}
                <div class="list-elem">
                    <p>{{ voting.description }}</p>
                </div>
                <div class="horizontal-centering">
                    <a href="{{ voting.get_absolute_url }}" class="medium-btn blue">Перейти</a>
                </div>
            </section>
        {% endfor %}
    </div>
    <script>
        red_btn_on_vote_list = document.getElementById('red_btn_on_vote_list');
        red_btn_on_vote_list.addEventListener('click', toggle_reg_form);
    </script>
{% endblock %}