{% load static %}
        <h1>Создай меня! Я знаю, ты сможешь!</h1>
        <div class="block">
            {% if form.errors %}
                <div class="block">
                    <h2>Ошибки</h2>
                    {{ form.errors }}
                </div>
            {% endif %}
            {% if voting_id != -1 %}
                <h2>Страница редактирования голосования номер {{ voting_id }}</h2>
                <h4>Условные обозначения</h4>
                <ul>
                    <li> (*) - не требуют подтверждения модератора.
                Изменения, внесенные ТОЛЬКО в них, сразу вступят в силу</li>
                    <li> (**) - не требуют подтверждения модератора.
                Изменения, внесенные в них и в (*), сразу вступят в силу,
                    но с обнулением всех голосов</li>
                    <li>Изменения, внесенные в остальные пункты должны быть подтверждены модератором.
                Для этого необходимо сформировать запрос, ответ на который придет в ближайшее время.
                Примите во внимание, что голоса могут быть обнулены. Формируйте запрос тщательно,
                комментарий может помочь принять модератору верное решение</li>
                    <li>Можно внести изменения не формируя запрос. Для этого необходимо нажать на кнопку
                "Сохранить и Обнулить". Примите во внимание, что голоса в таком случае будут обнулены</li>
                </ul>
            {% endif %}
            <form method="POST" action="{{ context_url }}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.author }}
                <div class="horizontal-centering between">
                    <div class="input">
                        <label>{{ form.title.label }}</label>
                        {{ form.title }}
                    </div>
                    <div class="input">
                        <label>{{ form.image.label }}</label>
                        {{ form.image }}
                    </div>
                </div>
                <div class="horizontal-centering between">
                    <div class="input ultra-wide">
                        <label>{{ form.description.label }}</label>
                        {{ form.description }}
                    </div>
                </div>
                <div class="horizontal-centering between">
                    <div class="input">
                        <label>{{ form.type.label }}</label>
                        {{ form.type }}
                    </div>
                    <div class="input">
                        <label>{{ form.result_see_who.label }}</label>
                        {{ form.result_see_who }}
                    </div>
                    <div class="input">
                        <label>{{ form.result_see_when.label }}</label>
                        {{ form.result_see_when }}
                    </div>
                </div>
                <div class="horizontal-centering between">
                    <div class="input">
                        <label>{{ form.anons_can_vote.label }}</label>
                        {{ form.anons_can_vote }}
                    </div>
                    <div class="input">
                        <label>{{ form.end_date.label }}</label>
                        {{ form.end_date }}
                    </div>
                </div>
                <div class="block">
                    <h2>Варианты голосования</h2>
                    {% if voting_id != -1 %}
                        <h4>Изменение количества вариантов приведёт к мгновенному обнулениею и принятию изменений</h4>
                    {% endif %}
                    {{ form.variants_count }}
                    <div id="vote_variants">
                        <div class="list-elem">
                            <input name="variant_" type="text" required maxlength="256" placeholder="Вариант " class="input wide">
                            <button type="button" class="medium-btn red">Удалить</button>
                        </div>
                        <div class="list-elem">
                            <input name="variant_0" type="text" required maxlength="256" placeholder="Вариант 1" class="input wide">
                            <button type="button" class="medium-btn red">Удалить</button>
                        </div>
                        <div class="list-elem">
                            <input name="variant_1" type="text" required maxlength="256" placeholder="Вариант 2" class="input wide">
                            <button type="button" class="medium-btn red">Удалить</button>
                        </div>
                    </div>
                    <div class="horizontal-centering">
                        <button id="add_vote_variant" type="button" class="medium-btn blue">Добавить вариант</button>
                    </div>
                </div>
                {% if voting_id != -1 %}
                    <div class="block">
                        <h4>{{ form.comment.label }}</h4>
                        {{ form.comment }}
                    </div>
                {% endif %}
                <div class="horizontal-centering">
                    <input type="submit" value="Сохранить" class="big-btn green" name="_save">
                    {% if voting_id != -1 %}
                        <input type="submit" value="Сохранить и Обнулить" class="big-btn red" name="_clear">
                    {% endif %}
                </div>
            </form>
        </div>
        <script src="{% static 'vote_app/js/variants_script.js' %}"></script>
        {% if voting_id == -1 %}
            <script>
                document.querySelector('#author').value = {{ user.id }}
            </script>
        {% else %}
            <script>
                let date_value = "{{ object.end_date|date:"Y-m-d" }}T{{ object.end_date|date:"H:i" }}"
                if (date_value == "T") { date_value = "" }
                id_end_date.value = date_value
            </script>
            <script>
                let current_count = Number({{ vote_variants|length }})
                while (variant_blocks.length < current_count) {
                    add_new_variant()
                    update_variants_context()
                }
                let i = 0
                let block = 0
                let input = 0
                {% for variant in vote_variants %}
                    block = variant_blocks[i]
                    input = block.getElementsByTagName('input')[0]
                    input.value = '{{ variant.description }}'
                    ++i
                {% endfor %}
            </script>
        {% endif %}