{% extends 'moder_base.html' %}

{% block head %}
    <title>Одобрение жалобы</title>
{% endblock %}

{% block for_moder %}
    <h1>Запрос почти одобрен!</h1>
    <h2>Перед одобрением ыберите дополнительны действия</h2>
    <div class="block">
        <form method="post" action="{% url 'moder_change_request_submit' request_id %}" class="horizontal-centering">
            {% csrf_token %}
            {{ form.comment }}
            <div class="input-block vertical-centering medium">
                <div class="checkbox path">
                    {{ form.reset_votes }}
                    {% include 'bases/checkbox_animation.html' %}
                </div>
                <label class="wide" for="id_reset_votes">
                {{ form.reset_votes.label }}
                </label>
            </div>
            <input type="submit" value="Одобрить запрос" class="big-btn green">
        </form>
    </div>
{% endblock %}
