{% extends 'moder_base.html' %}
{% load static %}

{% block head %}
    <title>Запросы на изменения</title>
    <style>
        .list-elem * {
            margin: 5px;
        }
    </style>
{% endblock %}


{% block for_moder %}
    <div class="block">
        <h1>Запрос номер {{ request_id }} - {{ object.voting.title }}</h1>
        <div class="list-elem">

            <p class="meta-data">{{ object.date }}</p>
            <p class="meta-data">{{ object.voting.author }}</p>
            <h2>Комментарий автора</h2>
            <p>{{ object.comment }}</p>
        </div>
        <div class="block">
            <h2>Список изменений</h2>
            <div class="list-elem">
                <div>
                    <h4>Название изменённого элемента</h4>
                    <ul>
                        <li>Было: А вот раньше было лучше! Не то что сейчас в этих ваших интернетах!</li>
                        <li>Стало: Хотя... И сейчас куча классных вещей. Вот этот сайт например</li>
                    </ul>
                </div>
            </div>
            <div class="list-elem">
                <div>
                    <h4>Название изменённого элемента</h4>
                    <ul>
                        <li>Было: А вот раньше было лучше! Не то что сейчас в этих ваших интернетах!</li>
                        <li>Стало: Хотя... И сейчас куча классных вещей. Вот этот сайт например</li>
                    </ul>
                </div>
            </div>
            <div class="list-elem">
                <div>
                    <h4>Название изменённого элемента</h4>
                    <ul>
                        <li>Было: А вот раньше было лучше! Не то что сейчас в этих ваших интернетах!</li>
                        <li>Стало: Хотя... И сейчас куча классных вещей. Вот этот сайт например</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block">
            <h2>Действия</h2>
            <form method="post" action="{% url 'moder_change_request_form' 0 %}">
                {% csrf_token %}
                <textarea name="comment" class="input wide" placeholder="Комментарий к решению (необязательно"></textarea>
                <label class="input">
                    Обнулить голоса (только при одобрении)
                    <input name="reset" type="checkbox" value="reset" class="input">
                </label>
                <div class="horizontal-centering">
                    <input type="submit" value="Одобрить" class="medium-btn green">
                    <input type="submit" value="Отклонить" class="medium-btn red">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block moder_bottom %}
    <a href="{% url 'moder_manage' %}" class="big-btn blue">Панель модератора</a>
    <a href="{% url 'moder_change_request_list' %}" class="big-btn green">Список запросов на изменения</a>
{% endblock %}

