{% extends 'moder_base.html' %}
{% load static %}

{% block head %}
    <title>Запросы на изменения</title>
    <style>
        .list-elem * {
            margin: 5px;
        }
    </style>
{% endblock %}


{% block for_moder %}
    <h1>Список запросов на изменения</h1>
    <div class="horizontal-centering">
        <div class="block">
            <div class="list-elem">
                <h4>Заголовок голосования</h4>
                <span>01.01.0000</span>
                <div>
                    <a href="/moderation/manage/change_request/<voting_id>/" class="medium-btn yellow">Просмотр изменений</a>
                </div>
            </div>
            <div class="list-elem">
                <h4>Заголовок голосования</h4>
                <span>01.01.0000</span>
                <div>
                    <a href="/moderation/manage/change_request/<voting_id>/" class="medium-btn yellow">Просмотр изменений</a>
                </div>
            </div>
            <div class="list-elem">
                <h4>Заголовок голосования</h4>
                <span>01.01.0000</span>
                <div>
                    <a href="/moderation/manage/change_request/<voting_id>/" class="medium-btn yellow">Просмотр изменений</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block moder_bottom %}
    <a href="/moderation/manage/" class="big-btn blue">Панель модератора</a>
{% endblock %}

