{% extends 'moder_base.html' %}
{% load static %}

{% block head %}
    <title>Жалобы</title>
    <style>
        .list-elem * {
            margin: 5px;
        }
    </style>
{% endblock %}

{% block for_moder %}
    <h1>Список жалоб</h1>
    <div class="horizontal-centering">
        <div class="block">
            <div class="list-elem">
                <div>
                    <h4>Тема жалобы</h4>
                    <p>Описание жалобы. Описание жалобы. Описание жалобы. Описание жалобы. Описание жалобы. Описание жалобы. </p>
                    <p class="meta-data">01.01.0000</p>
                </div>
                <div>
                    <a href="/moderation/manage/reports/submit/<voting_id>/" class="medium-btn green center wide">Принять</a>
                    <a href="/moderation/manage/reports/reject/<voting_id>/" class="medium-btn red center wide">Отклонить</a>
                </div>
            </div>
            <div class="list-elem">
                <div>
                    <h4>Тема жалобы</h4>
                    <p>Описание жалобы. Описание жалобы. Описание жалобы. Описание жалобы. Описание жалобы. Описание жалобы. </p>
                    <p class="meta-data">01.01.0000</p>
                </div>
                <div>
                    <a href="/moderation/manage/reports/submit/<voting_id>/" class="medium-btn green center wide">Принять</a>
                    <a href="/moderation/manage/reports/reject/<voting_id>/" class="medium-btn red center wide">Отклонить</a>
                </div>
            </div>
            <div class="list-elem">
                <div>
                    <h4>Тема жалобы</h4>
                    <p>Описание жалобы. Описание жалобы. Описание жалобы. Описание жалобы. Описание жалобы. Описание жалобы. </p>
                    <p class="meta-data">01.01.0000</p>
                </div>
                <div>
                    <a href="/moderation/manage/reports/submit/<voting_id>/" class="medium-btn green center wide">Принять</a>
                    <a href="/moderation/manage/reports/reject/<voting_id>/" class="medium-btn red center wide">Отклонить</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block moder_bottom %}
    <a href="/moderation/manage/" class="big-btn blue">Панель модератора</a>
{% endblock %}
