{% extends 'moder_base.html' %}
{% load static %}

{% block head %}
    <title>Жалобы</title>
    <style>
        .list-elem * {
            margin: 5px;
        }
    </style>
{% endblock %}

{% block for_moder %}
    <h1>Список жалоб</h1>
    <div class="horizontal-centering">
        <div class="block">
            {% for report in reports %}
                <div class="list-elem">
                    <div>
                        <h4>{{ report.theme }}</h4>
                        <p>{{ report.content }}<br>{{ report.object_url }}</p>
                        <p class="meta-data">
                            <a href="{% url 'profile_view' report.author.id %}">
                                {{ report.author }}
                            </a>
                        </p>
                        <p class="meta-data">{{ report.date }}</p>
                    </div>
                    <div>
                        <a href="{# url_from_context #}{% url 'moder_report_submit' 0 %}" class="medium-btn green center wide">Принять</a>
                        <a href="{# url_from_context #}{% url 'moder_report_reject' 0 %}" class="medium-btn red center wide">Отклонить</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block moder_bottom %}
    <a href="{% url 'moder_manage' %}" class="big-btn blue">Панель модератора</a>
{% endblock %}
