{% extends 'base.html' %}

{% block head %}
    <title>Жалобы</title>
{% endblock %}

{% block main %}
    {% if not user.is_authenticated %}
        <h1>Только авторизованные пользователи могут оставлять жалобы</h1>
    {% else %}
        <h1>Страница жалоб</h1>
        {% if rights != 0 %}
            <div class="horizontal-centering">
                <a href="{% url 'moder_manage' %}" class="big-btn blue">Панель модератора</a>
            </div>
        {% endif %}
        <div class="horizontal-centering">
            <div class="medium-block medium">
                {% if form.errors %}
                    <div class="block">
                        <h2>Ошибки</h2>
                        {{ form.errors }}
                    </div>
                {% endif %}
                <h2>Отправить жалобу</h2>
                <form method="post" action="{% url 'moder_report_send' %}">
                    {% csrf_token %}
                    {{ form.author }}
                    <div class="horizontal-centering">
                        <label>{{ form.theme.label }}</label>
                        {{ form.theme }}
                        {{ form.element }}
                        {{ form.content }}
                        <input type="submit" value="Отправить жалобу" class="medium-btn green input wide">
                    </div>
                </form>
            </div>
            <div class="medium-block wide">
                <h2>Отправленные жалобы</h2>
                {% for report in reports %}
                    <div class="small-block grey-2">
                        <div class="list-elem grey-3">
                            <div class="center ultra-wide">Жалоба №{{ report.object.id }} -
                                {% if report.object.status == report.object.REJECTED %}
                                    <span class="red-text">{{ report.object.get_humanity_status_name }}</span>
                                {% elif report.object.status == report.object.SUBMITTED %}
                                    <span class="green-text">{{ report.object.get_humanity_status_name }}</span>
                                {% elif report.object.status == report.object.IN_PROCESS %}
                                    <span class="yellow-text">{{ report.object.get_humanity_status_name }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="small-block grey-3">
                            <div class="list-elem">{{ report.object.get_humanity_theme_name }}</div>
                            <div class="list-elem">{{ report.object.content }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <script>
            document.querySelector('#author').value = {{ user.id }}
            document.querySelector('#element').value = {{ element }}
        </script>
    {% endif %}
{% endblock %}
