@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Jura:wght@700&family=Roboto:wght@500&display=swap');

*:before,
*:after {
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

.anim-btn {
  text-align: center;
  text-decoration: none;

  font-family: 'Jura', Helvetica, arial, sans-serif;

  display: block;
  border: 1px solid #000;
  overflow: hidden;
  color: #000;
  text-transform: capitalize;
  z-index: 1;
  margin: 5px 15px;
  padding: 10px 15px;
  border-radius: 3px;
  position: relative;
  transition: 0.2s ease-out;
}

.horizontal-border:before {
  transition: 0.2s;
  z-index: -1;
}

.horizontal-border:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition-delay: 0.1s;
  color: #000;
  z-index: 8;
}

.horizontal-border {
  border: none;
}

.horizontal-border:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  transform: translateX(100%);
}

.horizontal-border:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000;
  transform: translateX(-100%);
}

.horizontal-border:hover {
  letter-spacing: 2px;
  color: #000;
}

.horizontal-border:hover:before, .horizontal-border:hover:after {
  transform: translateX(0%);
}

.small-btn, .medium-btn, .big-btn {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.1rem;
    color: black;
    font-family: Jura;
    background-color: #eee;
}

.medium-btn {
    font-size: 1.4rem;
    padding: 5px;
    border-radius: 8px;
}

.big-btn {
    font-size: 1.7rem;
    padding: 10px;
    border-radius: 10px;
}

.small-btn:hover, .medium-btn:hover, .big-btn:hover {
    background-color: #ccc;
}

.small-btn:active, .medium-btn:active, .big-btn:active {
    background-color: #aaa;
}

.red {
    background-color: #D55;
}

.red:hover {
    background-color: #B44;
}

.red:active {
    background-color: #933;
}

.green {
    background-color: #5D5;
}

.green:hover {
    background-color: #4B4;
}

.green:active {
    background-color: #393;
}

.blue {
    background-color: #9BF;
}

.blue:hover {
    background-color: #8AD;
}

.blue:active {
    background-color: #79B;
}

.yellow {
    background-color: #DD5;
}

.yellow:hover {
    background-color: #BB4;
}

.yellow:active {
    background-color: #993;
}