@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Jura:wght@700&family=Roboto:wght@500&display=swap');

/*
    Импортируемые шрифты:
    font-family: 'Comfortaa', cursive;
    font-family: 'Jura', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

body {
    margin: 0;
    padding: 0;
    padding-top: 5%;
    height: 100%;
    font-family: Roboto;
}

.main-content {
    position: relative;
    margin: 0 20%;
    font-size: 1.5rem;
}

h1, h2, h3 {
    margin: 15px;
    font-family: Comfortaa, cursive;
    text-align: center;
}

h4, h5, h6 {
    margin: 5px;
}

p {
    margin: 5px;
}

.horizontal-centering {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block {
    position: relative;
    border: 3px solid black;
    background-color: #DDD;
    border-radius: 20px;
    padding: 25px;
    margin: 10px;
    transition: 1s ease-in-out;
}

.medium-block {
    position: relative;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    background-color: #DDD;
    transition: 1s ease-in-out;
}

.small-block {
    position: relative;
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: #DDD;
    transition: 1s ease-in-out;
}

.list-elem {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BBB; /* .grey-2 */
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.input {
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 5px;
    margin: 5px;
    font-family: Jura;
}

.wide {
    width: 80%;
}

.ultra-wide {
    width: 98%;
}

.medium {
    width: 42%;
}

.small {
    width: 22%;
}

.center {
    text-align: center;
}

.meta-data {
    text-align: right;
    font-family: jura;
    font-size: 1rem;
}

.grey-1 { background-color: #DDD; }

.grey-2 { background-color: #BBB; }

.grey-3 { background-color: #999; }

.grey-4 { background-color: #777; }

.hidden-top { transform: translateY(-1000px); }

.hidden-left { transform: translateX(-1000px); }

.hidden-bottom { transform: translateY(1000px); }

.hidden-right { transform: translateX(1000px); }

.left {
    position: absolute;
    left: 5px;
}

.right {
    position: absolute;
    right: 5px;
}

.top {
    position: absolute;
    top: 5px;
}

.bottom {
    position: absolute;
    bottom: 5px;
}