<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_style.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        {% include 'menu.html' %}
        {% block header %}
        {% endblock %}
    </header>
    <main class="main-content">
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
        {% include 'footer.html' %}
    </footer>

</body>
</html>