{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'menu_app/css/footer_style.css' %}">
<div class="footer-block">
    <p>
        (C)2020-2021. Первая подгруппа четвёртой группы онлайн-отделения ШП
        (<a href="https://informatics.ru/">informatics.ru</a>)
    </p>
    <p>Gitlab-репозиторий проекта -
        <a href="https://gitlab.informatics.ru/2020-2021/online/s101/group-04/simple-votings-1">
            gitlab.informatics.ru/2020-2021/online/s101/group-04/simple-votings-1
        </a>
    </p>
</div>