{% extends 'base.html' %}

{% block head %}
    <title>Главная</title>
    <style>
        .horizontal-centering .simple-btn {
            font-size: 1.6rem;
            padding: 10px;
            border-radius: 10px;
        }
    </style>
{% endblock %}

{% block main %}
    <h1>Проект “Своё мнение”</h1>
    <h2>Здесь каждый голос действительно важен</h2>
    <p>
        На нашем сайте у вас есть возможность принимать участие уже существующих голосованиях и создавать новые.
        Зарегистрировавшись, вы получите возможность просматривать всю свою прошлую активность и принимать участие
        в голосваниях, требующих авторизации на сайте.
    </p>
    <div class="horizontal-centering">
        <a href="/vote/test/" class="simple-btn yellow">Голосования</a>
        <button class="simple-btn blue" id="red_btn_on_index">Регистрация</button>
    </div>
    <script>
        red_btn_on_index = document.getElementById('red_btn_on_index');
        red_btn_on_index.addEventListener('click', toggle_reg_form);
    </script>
{% endblock %}