{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="{% static 'menu_app/css/index_style.css' %}">
{% endblock %}

{% block main %}
    <h1>Проект ''Своё мнение''</h1>
    <h2>Здесь каждый голос действительно важен</h2>
    <p>
        На нашем сайте у вас есть возможность принимать участие уже существующих голосованиях и создавать новые.
        Зарегистрировавшись, вы получите возможность просматривать всю свою прошлую активность и принимать участие
        в голосваниях, требующих авторизации на сайте.
    </p>
    <div class="horizontal-centering">
        <a href="/vote/test/" class="big-btn yellow">Голосования</a>
        {% if user.is_authenticated %}
            <a href="/vote/test/" class="big-btn green">Создать голосование</a>
        {% else %}
            <button class="big-btn blue" id="red_btn_on_index">Регистрация</button>
        {% endif %}
    </div>
    <h2>Отзывы</h2>
    <div class="horizontal-centering">
        <div class="small-block feedback">
            <h3>10 из 10</h3>
            <img src="https://i.ytimg.com/vi/JjMV29bmKZs/maxresdefault.jpg">
            <blockquote>"Нет! 12/10! Просто на кончиках пальцев. Бест оф зе бест голосовалка!!!"</blockquote>
            <p>Владыка верхнего интернета</p>
        </div>
        <div class="small-block feedback">
            <h3>Мяу!</h3>
            <img src="https://www.ponedelnikmag.com/users/16692/masteram_pera/01.gif">
            <blockquote>"М-р-р-р-р-р-р-р-р-р-р-р-р-р-р-р-р-р-р ^ↀᴥↀ^"</blockquote>
            <p>Кот</p>
        </div>
        <div class="small-block feedback">
            <h3>Матан вас разоблачил</h3>
            <img src="https://pbs.twimg.com/media/EcB2RSKWsAcZmfw.jpg">
            <blockquote>"Ну тут как бы всё ясно... ¯\_(ツ)_/¯"</blockquote>
            <p>Шпилькин</p>
        </div>
    </div>
    <script>
        red_btn_on_index = document.getElementById('red_btn_on_index');
        red_btn_on_index.addEventListener('click', toggle_reg_form);
    </script>
{% endblock %}