{% extends 'moder_base.html' %}
{% load static %}

{% block head %}
    <title>Запросы на изменения</title>
    <style>
        .list-elem * {
            margin: 5px;
        }
    </style>
{% endblock %}


{% block for_moder %}
    <h1>Список запросов на изменения</h1>
    <div class="horizontal-centering">
        <div class="block wide">
            {% if change_requests|length == 0 %}
                <h4 class="center">Список пуст</h4>
            {% else %}
                {% for request in change_requests %}
                    <div class="list-elem">
                        <h4>{{ request.title }}</h4>
                        <span class="meta-data">{{ request.date }}</span>
                        <div>
                            <a href="{{ request.form_url }}" class="medium-btn yellow">Просмотр изменений</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block moder_bottom %}
    <a href="{% url 'moder_manage' %}" class="big-btn blue">Панель модератора</a>
{% endblock %}

