{% extends 'bases/base.html' %}

{% block head %}
    <title>Редактирование голосований</title>
{% endblock %}

{% block main %}
    {% if not user.is_authenticated %}
        <h1>Только авторизованные пользователи могут создавать и редактировать голосования</h1>
    {% else %}
        {% if voting_id == -1 %}
            {% include 'votes/vote_config_form.html' %}
        {% elif can_edit %}
            {% include 'votes/vote_config_form.html' %}
        {% else %}
            <h2>Вы не можете редактировать это голосование</h2>
            <div class="horizontal-centering">
                <a href="{% url 'menu' %}" class="medium-btn yellow">На главную</a>
                <a href="{% url 'vote_list' %}" class="medium-btn blue">К списку голосований</a>
                <a href="{% url 'vote_view' voting_id %}" class="medium-btn green">К голосованию</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}