{% extends 'bases/base.html' %}
{% load static %}

{% block head %}
    <title>Отдельное голосование</title>
    <link rel="stylesheet" type="text/css" href="{% static 'vote_app/css/vote_one_style.css' %}">
{% endblock %}

{% block main %}
    <div class="block">
        <div class="list-elem">
            <div>
                <h2>{{ object.title }}</h2>
            </div>
            <div>
                <p class="meta-data">Автор: {{ object.author }}<a href="{% url 'profile_view' object.author.id %}"
                                                class="small-btn blue fas fa-arrow-right"></a></p>
                <p class="meta-data">
                    {% if object.end_date is None %}
                        Бессрочно
                    {% else %}
                        Окончание: {{ object.end_date }}
                    {% endif %}
                </p>
                {% if is_ended %}
                    <p class="meta-data">Окончено</p>
                {% endif %}
                <p class="meta-data">
                    {{ object.status }}
                </p>
                <p class="meta-data">
                    {% if object.anons_can_vote %}
                        Открытое голосование
                    {% else %}
                        Обязательная авторизация
                    {% endif %}
                </p>
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="horizontal-centering small-block grey-2">
                <a class="medium-btn red" href="{% url 'moder_report_send' %}?theme={{ voting_report }}&element={{ object.id }}">Пожаловаться</a>
                {% if can_edit %}
                    <a href="{% url 'vote_edit' object.pk %}" class="medium-btn yellow">Редактировать</a>
                    {% if rights == 2 %}
                        <a href="{% url 'vote_delete' object.pk %}" class="medium-btn red">Удалить</a>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
        <div class="horizontal-centering medium-block grey-2">
            {% if object.get_img_url != '' %}
            <div class="medium">
            {% else %}
            <div class="wide">
            {% endif %}
                <p>{{ object.description }}</p>
            </div>
            {% if object.get_img_url != '' %}
                <div class="medium">
                    <img src="{{ object.get_img_url }}" class="card-img">
                </div>
            {% endif %}
        </div>
        <div class="medium-block grey-2">
            {% include 'votes/vote_variants.html' %}
        </div>
        <div class="medium-block grey-2">
            <h3>Результаты</h3>
            {% if can_watch_res %}
                <div class="list-elem grey-3 horizontal-centering">
                    <h4>Всего голосовавших: {{ object.voters_count }}</h4>
                    <h4>Всего голосов: {{ object.votes_count }}</h4>
                </div>
                <div class="horizontal-centering">
                    {% include 'charts/load_data_script.html' %}

                    <div class="horizontal-centering medium small-block grey-3">
                        {% include 'charts/donut_chart.html' %}
                        {% include 'charts/donut_chart_download.html' %}
                    </div>

                    <div class="horizontal-centering medium small-block grey-3">
                        {% include 'charts/column_chart.html' %}
                        {% include 'charts/column_chart_download.html' %}
                    </div>
                </div>
            {% else %}
                <div class="medium-block horizontal-centering grey-3">
                    <h4 class="wide center">Вам не показываются результаты</h4>
                    <h4 class="wide center">Результаты видны:</h4>
                    <div class="wide list-elem grey-4">
                        <h4>Кому: {{ object.get_result_see_who_name }}</h4>
                        <h4>Когда: {{ object.get_result_see_when_name }}</h4>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if type_ref == 'checkbox' %}
        <script>
            function deRequireCb(elClass) {
                el=document.getElementsByClassName(elClass);

                var atLeastOneChecked=false;
                for (i=0; i<el.length; i++) {
                    if (el[i].checked === true) {
                        atLeastOneChecked=true;
                    }
                }

                if (atLeastOneChecked === true) {
                    for (i=0; i<el.length; i++) {
                        el[i].required = false;
                    }
                } else {
                    for (i=0; i<el.length; i++) {
                        el[i].required = true;
                    }
                }
            }
        </script>
    {% endif %}
{% endblock %}