<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Вход</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main_style.css' %}">
    </head>
    <body>
        <h1>При вводе входе возникла ошибка</h1>
        <h2>Повторите попытку</h2>
        <form action="/login/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Авторизоваться">
        </form>
    </body>
</html>
